/*
 * Local styles
 */

h1 {
    text-align: center;
}

/*
 * Line summary box
 */
DIV.lineinfo {
    float: right;
    width: 150px;
    padding: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

DIV.lineinfo H2 {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 2px;
    border: 1px solid #666;
    background-color: #eee;
}

ul.links {
    margin-top: 5px;
    padding-left: 15px;
}

ul.links>li {
    /* indent wrapped lines slightly: */
    padding-left: 10px;
    text-indent: -10px;
}

/*
 * Line list with customised bullet points
 */
UL.line-list {
    list-style: none;
    padding-left: 15px;
}

UL.line-list LI.open {
    list-style-image: url(/c/images/bullet_green.png);
}

UL.line-list LI.closed {
    list-style-image: url(/c/images/bullet_red.png);
}

UL.line-list LI.lifted {
    list-style-image: url(/c/images/bullet_grey.png);
}

UL.line-list LI.tourist {
    list-style-image: url(/c/images/bullet_blue.png);
}

UL.line-list LI.open-closed {
    list-style-image: url(/c/images/bullet_green-red.png);
}

UL.line-list LI.not-opened {
    list-style-image: url(/c/images/bullet_light_grey.png);
}

/*
 * Location list table for a line
 */
table#locations TD.icon {
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
}

table#locations TD.icon img {
    width: 22px;
    height: 22px;
    vertical-align: bottom;     /* in strict mode, default is baseline */
}

table#locations TD.name {
}

table#locations TD.facility {
}

table#locations TD.status {
}

table#locations TD.opened {
    text-align: right;
}

table#locations TD.closed {
    text-align: right;
}

table#locations TD.distance {
    text-align: right;
}

table#locations TD.photos {
    text-align: center;
}

table#locations TD.links {
    text-align: center;
}

H3.region-name {
    margin-bottom: 0px;
}

IMG.imagemap {
    border: 2px solid #888;
}

/*
 * Styles for the history display page
 */
td.heading h2 {
    margin-top: 15px;
}

/*
 * Styles for the map sheet display page
 */
#navigate {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
#navigate SPAN {
    font-size: 1.2em;
    vertical-align: 10%;
}
#navigate IMG {
    border: 0px;
}

#linemap IMG {
    border: 1px solid black;
}
