#
# PHP settings
#
# XXX: clean this up!
php_value include_path "/work/dev/nswrail-dev/phplib:/work/dev/nswrail-dev/phplib/lib:/work/dev/nswrail-dev/public_html/c:/work/pear/PEAR:/work/dev/nswrail-dev/:."
php_value date.timezone "Australia/NSW"

#php_flag log_errors On
php_value error_log             "/work/dev/nswrail-dev/log/php-error.log"
php_flag display_errors On


#
# Configuration parameters
#  These are accessed via $_SERVER['variable'].
#
SetEnv BASE_PATH                "/work/dev/nswrail-dev/public_html"
SetEnv PHPLIB_DIR               "/work/dev/nswrail-dev/phplib"
SetEnv TEMPLATE_DIR             "/work/dev/nswrail-dev/templates"
SetEnv LOG_DIR             	    "/work/dev/nswrail-dev/log"
SetEnv NSWRAIL_CONFIG_FILE      "/work/dev/nswrail-dev/config/nswrail-dev.json"

#
# URL rewriting
#
RewriteEngine on
RewriteBase /

# Uncomment for HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*)         https://%{SERVER_NAME}/$1 [R,L]

# .txt files are passed through the BBCode parser
RewriteRule ^(.*).txt$      /c/txtpage.php?file=$1.txt [L]

# redirect invalid URLs
RewriteRule ^index.html$    / [R]

# disable insecure HTTP methods
RewriteCond %{REQUEST_METHOD} !^(GET|POST)
RewriteRule .* - [R=405,L]

#
# Other settings
#
DirectoryIndex index.php
Header set "X-Robots-Tag" "noindex, nofollow"
Header set "X-Frame-Options" "deny"
Header set "X-XSS-Protection" "1"
Header set "X-Content-Type-Options" "nosniff"
Header unset "X-Powered-By"

#
# Permissions
#
Order allow,deny

<FilesMatch "^$">
    Allow from all
    Header set Cache-Control no-store
</FilesMatch>

<FilesMatch "\.(gif|png|jpg|svg|css|map|js|ico)$">
    Allow from all
    Header set Cache-Control max-age=1440,must-revalidate
</FilesMatch>

<FilesMatch "\.(php|txt|html)$">
    Allow from all
    Header set Cache-Control no-store
</FilesMatch>

