/*
 * Styles for the Google map window
 */

div#map {
    float: left;
    width: 90%;
    height: 800px;
    border: 1px solid black;
}

div#position {
    float: right;
    margin-left: 10px;
}

div#position span.parameter {
    color: #444;
    background-color: #eee;
}

div.infowindow h1 {
    white-space: nowrap;
    font-size: 1.1em;
}
