<?php
#
# Set some global parameters. These should be the same as in the .htaccess
# file.
#
# BASE_PATH         The top-level location of the site.
# AUSRAIL_STATE     The name of the state (lower-case).
# AUSRAIL_PHOTO_DIR The full path to the rail photos directory.
#
$BASE_PATH          = "<base>";
$AUSRAIL_STATE      = "nsw"
$AUSRAIL_PHOTO_DIR  = "<path>";

require_once "local.inc";
require_once "common.inc";
?>
