#AddType application/x-httpd-php .php
php_flag magic_quotes_gpc Off

Options Indexes +FollowSymLinks
DirectoryIndex index.php

RewriteEngine on
RewriteRule ^index.html                 index.php
RewriteRule ^cgi-bin/index.cgi          index.php

RewriteRule ^lines/(\w+)-lines.html     /lines/$1-lines.php [R=301]
RewriteRule ^maps/(\w+)-index.html      /lines/$1-map.php [R=301]

RewriteRule ^photos/(\w+).html          /photos/$1.php [R=301]
RewriteRule ^submissions.html           /photos/submissions.php [R=301]

RewriteRule ^network-maps/index.html    /maps/index.php [R=301]
RewriteRule ^historic-maps/index.html   /maps/index.php [R=301]
RewriteRule ^historic-maps/(\w+)-network(\w+).html /maps/$1-$2.php [R=301]
RewriteRule ^historic-maps/images/([^\/]+) /maps/images/$1 [R=301]
RewriteRule ^network-maps/nsw2004.html  /maps/nsw-network.php [R=301]
RewriteRule ^network-maps/sydney2004.html /maps/sydney-network.php [R=301]
RewriteRule ^network-maps/newcastle2004.html /maps/newcastle-network.php [R=301]

RewriteRule ^timeline.html              /infrastructure/timeline.php [R=301]
RewriteRule ^unstarted.html             /library/planned.php [R=301]
RewriteRule ^database/triangles.html    /infrastructure/triangle.php [R=301]
RewriteRule ^tunnels.html               /infrastructure/tunnel.php [R=301]
RewriteRule ^database/turntables.html   /infrastructure/turntable.php [R=301]

RewriteRule ^trivia.html                /trivia/index.php [R=301]

RewriteRule ^research/index.html        /library/index.php [R=301]
RewriteRule ^research/irish.html        /library/station_names.php [R=301]
RewriteRule ^cgi-bin/bulletin_search.cgi /library/bulletin.php [R=301]
RewriteRule ^research/smr/index.html    /library/smr.php [R=301]
RewriteRule ^research/widemere/index.html /library/widemere.php [R=301]
RewriteRule ^signals.html               /library/signalling.php [R=301]

RewriteRule ^operators.html             /links/operators.php [R=301]
RewriteRule ^links.html                 /links/index.php [R=301]

RewriteRule ^updates.html               /about/changelog.php [R=301]
RewriteRule ^credits.html               /about/credits.php [R=301]
RewriteRule ^about.html                 /about/index.php [R=301]

<FilesMatch "\.inc$">
    Order deny,allow
    Deny from all
</FilesMatch>

