/* the menubar itself */
div#menu {
    width: 100%;
    height: 21px;
    background-image: url(images/menu-bg1.png);
    background-repeat: repeat-x;
}
#nav {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

}

/* menubar link styling */
#nav a {
    background-color: transparent;
    padding-top: 4px;
    vertical-align: middle;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

#nav li {
    float: left;
    position: relative;
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    cursor: default;
    height: 21px;
    border-right: 1px solid #888;
}

#nav li ul {
    z-index: 1000;  /* make sure we're on top */
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    margin-left: -10px; /* cancel out the padding of the parent li */
    /* margin-top: 4px; */

    padding-left: 0px;
    background-color: #a66;

    border: 1px solid green;
}

* html #nav li ul {
    margin-left: 0px;
    margin-top: 0px;
}

/* special style for "admin" menu items */
#nav li ul li.admin {
    background-color: #66a !important;
}

#nav li>ul {
    top: auto;
    left: auto;
}

#nav li li {
    display: block;
    float: none;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #fff;
    width: 11em;
}

#nav li li a {
    display: block;
}

/* highlight submenu items */
#nav li li a:hover {
    color: #8ff;
}

/* enable the submenu; li.over is set via javascript for IE */
#nav li:hover ul, #nav li.over ul {
    display: block;
}
