{*
    Parameters:
        title
        emailaddr
*}
<h1>{$title}</h1>

<div title="Password Reset">
<p>An email has been sent to {$emailaddr} - if this has been registered in the system.</p>

<p>The email may take a little time to be delivered. If it doesn't arrive, please check your spam folder
  in case it has been filed there.</p>

<p>Otherwise, it is possible that the username was never registered at this site.</p>
</div>
