{*
    Parameters:
        $title
*}
<h1>{$title}</h1>

<div class="alert alert-info">
This article was written by <b>Karina Hall</b>.  It was available at one point
on the net, although this is no longer the case.  It is provided here
with her kind permission.
</div>

<div class="text text-2column">
<p>
<div class="float-right m-2">
  <img src="/media/articles/wq-01-sm.jpg">
</div>
The Widemere line was one of the
State's many privately owned quarry lines. Located at Prospect Hill the Widemere
Quarry was one of a number blasted out of the igneous mass. Blue metal has been quarried
at Prospect for over a hundred years and in 1901 a new quarry was opened by the Emu Gravel
Company on the northern side of the Prospect Hill. This proved such a success that when
the Widemere Quarry was opened in 1924 by the Sydney and Suburban Blue Medal Co Ltd on the
Southern side of Prospect Hill it was decided to link this new quarry with the Southern
Line at Fairfield, some eight kilometres distant.
</p>

<p>
A major portion of the selected route was along public streets with only a comparatively
short length on the line own right of way. The Fairfield terminus was in the goods yard of
the station, and from a small siding, the rails curved in a wide arc over the Crescent
into Court Road to Horsley Drive. The track was laid on the northern alignment of Horsley
Drive through Smithfield to Dublin Street. The rails then made a sweeping turn northwards
across the paddocks opposite Smith cemetery. Midway along Dublin Street (near Chifley St),
the line curved to the left across the paddocks into shallow cutting than turned right to
run along the general alignment Cordeaux Street. Than came another left turn into Hassal
Street and it curved right to run alongside Widemere Road before crossing Prospect Creek
by means of a timber-framed trestle viaduct. Another bridge crossed the main Sydney water
supply's pipes near the entrance to the quarry.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-10-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-10-sm.jpg"></a>
</div>
The Widemere line was one of the State's many privately owned quarry
lines. Located at Prospect Hill the Widemere Quarry was one of a number blasted out of the
igneous mass. Blue metal has been quarried at Prospect for over a hundred years and in
1901 a new quarry was opened by the Emu Gravel Company on the northern side of the
Prospect Hill. This proved such a success that when the Widemere Quarry was opened in 1924
by the Sydney and Suburban Blue Medal Co Ltd on the Southern side of Prospect Hill it was
decided to link this new quarry with the Southern Line at Fairfield, some eight kilometres
distant.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-14-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-14-sm.jpg"></a>
</div>
The line terminated in the quarry on two loop
sidings and a crossover. There was another narrow gauge (.690 m) line within the quarry,
where wagons were filled with blue metal and gravitated to the crusher. It was then put
onto a conveyor belt which took the metal to the bins where it was loaded onto wagons and
taken to Fairfield.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-08-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-08-sm.jpg"></a>
</div>
The line, constructed under the supervision of Mr Johnson, posed few engineering problems
except for a steep rise on Horsley Drive between Smithfield Road and Dublin Street. The
grade was 1 in 50 going up the hill from Smithfield Road and 1 in 55 when ascending the
rise towards Smithfield from Dublin Street. These grades presented such an obstacle that
trains were often divided into two sections, one being left while the engine delivered the
other and came back later for the second half. Because the railway line had only a short
distance of its own right-of-way along the route, the railway curves on public roads were
sharper than normal and some were restricted to a 160.9 metres radius (8 chains}. Trains
had to proceed very slowly around curves or there was a danger of derailment.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-04-lg-light.jpg"><img class="img-thumbnail" src="/media/articles/wq-04-sm.jpg"></a>
</div>
When the line opened, the company did not own an engine and the New South Wales Government
Railways maintained a service. In 1927, the NSWGR loaned the company a 4-6-4 tank engine
(No 3) and later in the same year an engine was purchased from the South Maitland Railway
Company.
</p>

<p>
This was and old Avonside 0-6-0 saddle tank, built in 1902. It was scrapped in 1934 in a
typical quarry style by a few well-placed explosive charges. Another locomotive was
purchased from the NSWGR in 1933 and became well known in the district as the 'old 2013 (a
2-6-2 tank engine). This engine hauled the quarry's traffic until tht line was closed in
1945.<br />
To those living near the line, the trains were a nuisance but tolerated because they ran
infrequently and were seldom involved in accidents or major derailments. There is record
of any fatalities, serious injuries or major accidents caused by trains on the line.<br />
The trains running down the town's main street became a feature of Smithfield's daily life
and anecdotes flow freely when older residents recall earlier days:
</p>

<div class="blockquote">
... Often, the engine driver would have to come into the Victoria Hotel and ask
customers to move their sulkies and carts off the line ... Not only would the trains scare
the hores and cows in the paddocks but would also frighten the wits out of visitors who
did not know of the line ... Children used to jump on the moving wagons or hang on the
sides as a daredevil feat.&nbsp; Adults often did the same thing to get a ride into
Fairfield ...When I heard the train coming I would rush out and bring in my washing as the
smoke, stem and dust would soil the cloths ... You always made sure a hose was handy as
the sparks from the engine often stated grass fires ...
</div>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-09-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-09-sm.jpg"></a>
</div>
The line was closed on 2 June 1945, mainly due to the shortage of rolling
stock but fortunately motor vehicles large enough for the cartage of blue metal had been
developed. The railway line was sold and most of the rails and sleepers were soon removed.
For many years the rails crossing the Crescent could be seen but surface regarding
gradually covered them. In the Hassell Street-Widemere Road area remains of the
embankments and timber trestles were long discernible but eventually effects of time and
land reclamation have removed all traces of the Fairfield to Prospect Widemere Quarry
branch line.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-05-lg-light.jpg"><img class="img-thumbnail" src="/media/articles/wq-05-sm.jpg"></a>
</div>
In 1924 a quarry was opened on the Southern side of Prospect Hill almost immediately
behind the Prospect Quarry. The stone, after being quarried was loaded into small side
tipping trucks on 2ft gauge tracks and gravitated to the jaw crusher just beyond the
entrance of the quarry. It was then taken on a conveyor belt to the bins where it was
loaded into Government wagons. The side-tippers were taken back to the quarry by horses.
This was later superseded by motor lorries.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-03-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-03-sm.jpg"></a>
</div>
A private railway was constructed under
the supervision of Mr. Johnson and connected the quarry with the main southern railway
line at Fairfield a distance of some 5 miles. After leaving the bins, which was served by
two loop sidings with a crossover, the line crossed Prospect Creek on a trestle viaduct
and ran alongside the Company's road to Hassall St. Here the line turned sharply left and
followed that street and cut the theoretical corner cross Hassall and Cordeaux streets. It
then curved across the paddocks to cross Dublin-street near Water-street. Located
alongside Dublin, for a short distance it then curved sharply left again adjacent to the
cemetery and followed Smithfield St, being located on the northern side, for the rest of
the distance into Fairfield where it cut across The Crescent and entered the railway yard
adjacent to the station.
</p>

<p>
<div class="float-right m-2">
  <a href="/media/articles/wq-02-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-02-sm.jpg"></a>
</div>
This line was opened in October, 1925, but as the Company did not have its own engine at
that time the traffic was worked by Government engines, mostly standard 2-8-0 goods
engines and one cannot help but speculate on the anxious moments when traversing some of
those extremely tight curves. (early in 1927 a Government 4-6-4 tank engine, No. 3051 was
on loan to the Company and how much more so must the curves have suffered at its hand).
However, in 1927 an engine was purchased from the South Maitland Railway CO. It was their
No. 3, 0-6-0 saddle tank engine built by Avonside Engine Co. (No. 1436) in 1902. This
engine worked the line until a second was
<div class="float-right m-2">
  <a href="/media/articles/wq-07-lg.jpg"><img class="img-thumbnail" src="/media/articles/wq-07-sm.jpg"></a>
</div>
purchased from the Government in 1933. This was a
2-6-4 tank engine No, 2013 and was originally built by Beyer, Peacock (No. 2067) as an
0-6-0 tender engine with 4ft. diameter driving wheels and 18in. x 24in. inside cylinders.
It was converted to a tank engine in 1909. The Avonside was scrapped in 1934 in typical
quarry style by a few well placed explosive charges. The bogie engine continued to work
the line until shortage of trucks in 1945 forced the Company to send their product by
motor transport. The engine was sold to J, &amp; A. Brown Collieries in 1946 where it was
numbered 26. The line was sold and the rails removed and so another railway personality
has passed, never again to rattle down Smithfield Street with a couple of urchins clinging
to the rear truck.
</p>
</div>
