{*
    Parameters:
        title
*}
<h1>{$title}</h1>

<div class="text">
<p>The following map shows all the locations of triangles and turntables
(past and present) throughout regional NSW.</p>

<p>For more detail on these facilities, see the 
<a href="/infrastructure/triangles.php">Triangles</a> and
<a href="/infrastructure/turntables.php">Turntables</a> pages.
</p>

<div class="text-center">
  <img src="images/nsw-turning-facilities.png" alt="map of turning facilities">
</div.
