{*
    Parameters:
        title
        text
        image_url
*}
<h1>{$title}</h1>

<div class="text">
{$text}
</div>

<div class="text-center">
  <a href="{$image_url}"><img src="{$image_url}" class="w-100"></a"
</div.
