{*
    Parameters:
        title
        text
        continue_url
*}
<h1>{$title}</h1>

<div class="message">
  <pre>
    {$text}
  </pre>
</div>
<p/>

<div style="text-align: center;">
  <a href="{$continue_url}">Continue</a>
</div>
