{*
    Parameters:
        title
        text
        continue_url
*}
<h1>{$title}</h1>

<div class="message">
  <pre>
    {$text}
  </pre>
</div>

<div class="text-center">
  <a href="{$continue_url}">Continue</a>
</div>
