This email has been sent in response to a password reset request at {$website}.

If you are the person that requested the password to be reset, then please paste the
following URL into your browser:

{$url}

(NOTE: this reset code is only valid for 24 hours)

If you did NOT request a password reset at {$website}, then you can just ignore this
email; you will still be able to log in with your normal password. Maybe someone
mis-typed their address.
