This email has been sent in response to an account registration at {$website}.

If you are the person that registered the account, then please paste the
following URL into your browser:

{$url}

(NOTE: this activation code is only valid for 24 hours)

If you did NOT register an account at {$website}, then you can just ignore this
email; the account will be deleted. Maybe someone mis-typed their address.
