#lcolumn {
    float: left;
}
#rcolumn {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
#current {
    font-size: 12px;
    font-weight: bold;
    color: #808080;
}
A {
    font-size: 12px;
}
